.sidebarItem {
  display: flex;
  padding: 10px 0;
  border-radius: 0 100px 100px 0;
}

.sidebarItem > div {
  display: flex;
}

.sidebarItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebarItem__arrow {
  margin-left: 12px;
}

.sidebarItem__main {
  display: flex;
}

.sidebarItem__main > p {
  margin-left: 12px;
  color: gray;
}

.sidebarItem i:not(1) {
  margin-left: 16px;
}

.sidebarItem i:not(2) {
  margin-left: 16px;
}
